@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;

}
 header h1 {
    font-family: Passion One, sans-serif;
    font-size: 140px;
    margin: auto;
    font-variant: small-caps;
 }

 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
 }

 a:hover {
    text-decoration: underline;
 }

 h1 > span::first-letter {
    font-size: 120px;
 }

 header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 section {
    font-family: Sriracha, sans-serif;
    font-size: 50px;
    padding: 60px 30px;
 }


 .container1 {
    background-image: url(imagens/background001.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
 }

 .conteudo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    height: 650px;
    width: 600px;
 }

 .container2 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    
    background-size: 100%;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
 }

 footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
 }


